/* background color change */
body{
    background:#527a6a;
    /* just in case the color changing
    -webkit-animation:colour 10s linear infinite;}
@-webkit-keyframes colour{
    0%{background:#527a6a}
    40%{background:#52777a}
    80%{background:#5f7a52}
    100%{background:#527a6a}
*/
}
#para1{
    /* The image used */
    background-image: url("Images/bg1.png");

    /* Set a specific height */
    height: 700px;; 
  background-position: 50% 50%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
}

#para2{
    /* The image used */
    background-image: url("Images/bg2.png");

    /* Set a specific height */
    height: 500px;
  background-position: 50% 50%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
}

#para3{
    /* The image used */
    background-image: url("Images/bg3.png");

    /* Set a specific height */
    height: 500px;
    background-position: 50% 50%;
    margin-top: 800px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
}
#outerCircle{
    /* sets up the positioning */
    margin: auto;
    position: relative;
    width: 800px;
    margin-top: 400px;
    padding-top: 100px;
    height: 500px;
    /* color and look */
    overflow: hidden;
    margin-bottom: 50px;
}


h1{
    color: #527a6a;
    margin-top: -500px;
    font-size: 80px;
    font-family: 'Poiret One', cursive;
    position: relative;
    z-index: 2;
    text-align: center;
}

#scroll {
    text-align: center;
    color: #527a6a;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
    animation: op 5s;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes op {
    from {opacity: 0.0;}
    to {opacity: 1;}
}
    
.text{
    color: white;
    text-overflow: ellipsis;
    font-size: 60px;
    font-family: 'Poiret One', cursive;
    text-decoration: none;
}
#top{
    margin-top: 50px;
}

.text:hover{
    color: #a6a7a8;
}
    
.icon{
    height: 35px;
    width: 35px;
}
#icon1{
    margin-right: 350px;
    margin-top: 230px;
}
#icon2{
    margin-right: 130px;
    margin-top: -35px;
}
#icon3{
    margin-left: 130px;
    margin-top: -35px;
}

#icon4{
    margin-top: -35px;
    margin-left: 350px;
}
.iconImage{
    height: 35px;
    width: 35px;
    border-radius: 20%;
}

#middleText{
    color: #527a6a;
    font-size: 80px;
    font-family: 'Poiret One', cursive;
    margin-top: 100px;
    padding-top: 200px;
    text-align: center;
    
}
#frontPosts{
    color: white;
    position: relative;
    margin-top: 80px;
    padding-top: 60px;
    margin-left: 200px;
    font-size: 70px;
    font-family: 'Poiret One', cursive;
    z-index: 2;
}
#backPosts{
    position: absolute;
    z-index: 1;
    font-size: 200px;
    margin-left: 300px;
    margin-top: -50px;
    font-family: 'Khula', sans-serif;
    opacity: .2;
}

#graph{
    margin-top: 20px;
    margin-left: 15%;
    width: 70%;
    height: 500px;
    background-color: transparent;
    background-image:       
      linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .2) 25%, rgba(255, 255, 255, .2) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .2) 75%, rgba(255, 255, 255, .2) 76%, transparent 77%, transparent), 
    linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .2) 25%, rgba(255, 255, 255, .2) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .2) 75%, rgba(255, 255, 255, .2) 76%, transparent 77%, transparent);
    background-size: 50px 50px;
    border-left: 5px solid rgba(255, 255, 255, 0.2);
    border-bottom: 5px solid rgba(255, 255, 255, 0.2);
    position: absolute;
}

#Yaxis{
    transform: rotate(90deg);
    position: absolute;
    margin-top: 160px;
    margin-left: -220px;
}

.AxisText{
    font-size: 30px;
    font-family: 'Poiret One', cursive;
    color: white;
    text-decoration: none;
    padding-left: 30px;
}
.AxisText:hover{
    color: #d0b5ae;
}
    

.image{
    opacity: .5;
    filter: blur(2px);
    width: 50px;
    height: 50px;
    /* size and shape */
    border-radius: 50%;
    /* palcement */
    border: 5px solid rgba(255, 255, 255, .6);
    position: absolute;
    display: initial;
    transition: transform 1s;
    background-size: fill;
}

.image:hover{
    opacity: 1;
    filter: blur(0px);
    transform: scale(3,3);
}


#img1{
    margin-top: 200px;
    margin-left: 7%;
}
#img2{
    margin-top: 50px;
    margin-left: 20%;
}
#img3{
    margin-top: 150px;
    margin-left: 40%;
}
#img4{
    margin-top: 200px;
    margin-left: 60%;
}
#img5{
    margin-top: 300px;
    margin-left: 80%;
}

#Xaxis{
    margin-top: 450px;
    margin-left: 80%;
}

#middleText2{
    position: absolute;
    margin-top: 200px;
    margin-left: 35%;
}
#meHeading{
    color: white;
    position: relative;
    margin-top: 80px;
    padding-top: 60px;
    margin-left: 200px;
    font-size: 70px;
    font-family: 'Poiret One', cursive;
    z-index: 2;
}
#backHeading{
    position: absolute;
    z-index: 1;
    font-size: 200px;
    margin-left: 300px;
    margin-top: -50px;
    font-family: 'Khula', sans-serif;
    opacity: .2;
}


#bout{
    margin-left: 30px;
    position: absolute;
    width: 100%;
}

#hist{
    opacity: .2;
    margin-left: 45%;
    
    margin-top: 50px;
    margin-bottom: 50px;
}
.meText{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    margin-right: 300px;
    margin-top: 100px;
    margin-left: 40px;
}
#about2{
    margin-top:230px;
}
#about3{
    margin-top: 300px;
}

/* creates bar at the bottom */
