/* background color change */
body{
    background:#eff7c8;
    -webkit-animation:colour 10s linear infinite;}
@-webkit-keyframes colour{
    0%{background:#eff7c8}
    40%{background:#ddf7c8}
    80%{background:#c8f7db}
    100%{background:#eff7c8}
}

#HeaderBar{
    positiion: relative;
    margin-top: 30px;
    width: 100%;
    opacity: .6;
    z-index: 0;
    background-color: white;
    height: 210px;
}
#Header{
    position: absolute;
    margin-top: -400px;
    margin-left: 40px;
    font-size: 70px;
    font-family: 'Poiret One', cursive;
}
#Title{
    position: relative;
    z-index: 1;
    font-size: 200px;
    margin-left: 90px;
    margin-top: -10px;
    font-family: 'Khula', sans-serif;
    opacity: .2;
}
#allPosts{
    position: absolute;
    margin-left: 300px;
    margin-bottom: 100px;
    margin-right: 300px;
}
.post{
    margin-top: 30px;
}
.postText{
    font-size: 70px;
    font-family: 'Poiret One', cursive;
}
.postDate{
    font-family: 'Khula', sans-serif;
    margin-top: -40px;
}
.postDescr{
    font-family: 'Poiret One', cursive;
}
    
.postImage{
    margin-left: 50px;
    position: relative;
    height: 200px;
    width: 300px;
    margin-bottom: 40px;
}
.postImage0{
    position: relative;
    height: 200px;
    width: 300px;
    margin-bottom: 40px;
}
