body{
  font-size: 18px;
  background-color: #344456;
  color: #edeccb;
}
h1{
  color : #000000;
  text-shadow: 0 0 3px #f9f690, 0 0 5px #FFFFFF;
}
h2{
  color : #000000;
  text-shadow: 0 0 3px #f9f690, 0 0 5px #FFFFFF;
}

h5{
  color: #000000;
}